name: Webmobi Event Test

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    
    env:
      WM_EMAIL: ${{ secrets.WM_EMAIL }}
      WM_PASSWORD: ${{ secrets.WM_PASSWORD }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Install Playwright Browsers
      run: playwright install --with-deps chromium

    - name: Run Automation Test
      run: python test_event_creation.py
