name: Run Automation Test

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      WM_EMAIL: ${{ secrets.WM_EMAIL }}
      WM_PASSWORD: ${{ secrets.WM_PASSWORD }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          playwright install --with-deps  

      - name: Run Playwright test
        run: python test_event_creation.py
